@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #00111C;
    font-family: "Montserrat", sans-serif;
}
/* Navbar Section */
.navbar ul {
    display: flex;
    justify-content: center;
    background-color:  #001523;
    height: 51px;
}
.navbar ul li{
    list-style: none;
    margin-top: 10px;
    
}
.navbar ul li a{
    text-decoration: none;
    background-color: #001A2C;
    padding: 20px 15px;
    margin: 10px;
    color: white;
    font-weight: 600;
}
.navbar ul li a:hover{
    background-color: #00111C;
}

/* about section */
h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}
.heading{
   
    height: 5px;
    margin-top: 0;
    background-color: #9EF01A ;
    border: none;
}
.about{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.about p{
    color: white;
    font-size: 16px;
    max-width: 50%;
    padding-top: 25px;
}
hr{
    width: 75%;
    margin: 40px auto;
}
/* skill section */
.skill-section{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.skill-heading{
    color: white;
    margin-top: 10px;
}
/* Contact Section */
.contact{
    margin-left: 25%;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
  }
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
  }
  input[type=submit] {
    background-color: #00111C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
/* Footer Section */
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001523;
    height: 250px;
}
.footer-img{
    background-color: white;
    border-radius: 4px;
    margin: 10px;
}
.copyright p{
    background-color: #00111C;
    padding: 20px 0px;
    color: #ffffff;
    text-align: center;
}
.copyright a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}